**Q1.Create a Python function to load the data from your local directory.  Display the top fewrows of the data.**

In [23]:
import pandas as pd

housing_data = pd.read_csv("../datasets/housing_data.csv")

housing_data.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

**Q2. How many data samples are present in the dataset?  What attributes/features are continuousvalued?  Which attributes are categorical?**

In [24]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

Note: numerical columns, which can not take all the values in the float and can only have some soecific values, we are classifying them as discrete.

Date: Continuous: Marking it continuous as date column has time as well, and it can take any value in real world  data.
price: Continuous 
bedrooms: Continuous, as in real world data some we can recieve decimal values sometimes(eg 2.5 BHK)
bathrooms: Continuous
sqft_living: Continuous, Decimal values in real world data are possible.
sqft_lot: Continuous, Decimal values in real world data are possible.
floors: Continuous, Decimal values in real world data are possible.
waterfront: Categorical, takes only 0 and 1, Here 0 and 1 dont have any order. That is 0 is not less than 1.
view: Continuous, Because the order matters, and in real world data might take some other values as well.
condition: Continuous, Because the order matters, and in real world data might take some other values as well.
sqft_above: Continuous
sqft_basement: Continuous
yr_built: Continuous, Order matters, might receive decimal values when it is built in mid year.
yr_renovated: Continuous, Order matters, might receive decimal values when it is built in mid year.
street: Categorical
city: Categorical
statezip: categorical
country: Categorical

**Q3. Remove the date, street and country attributes.**

In [28]:
if "date" in housing_data.columns: # When date column is already dropped, ie, when we want to run this code cell again.
    housing_data.drop(columns = ["date", "street", "country"], axis=1, inplace=True)
housing_data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,statezip
0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,Shoreline,WA 98133
1,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,Seattle,WA 98119
2,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,Kent,WA 98042
3,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,Bellevue,WA 98008
4,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,Redmond,WA 98052